* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(205, 212, 233);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 90%;
    max-width: 56.25em;
}

.contenedor-lista {
    background: rgb(210, 220, 245);
    box-shadow: 0em 0em 3.125em rgba(14, 15, 15, 0.16);
    border-radius: 0.625em;
}

.contenedor-lista h1 {
    text-transform: uppercase;
    font-size: 1.25em;
    background: #fff;
    height: 6.25em;
    display: flex;
    align-items: center;
    padding: 2.5em;
    border-radius: 0.625em 0.625em 0 0;
    margin-bottom: 0;
}

.lista {
    padding: 1.25em;
    width: 100%;
}

.titulo2 {
    padding-top: 1.25em;
    width: 100%;
}

.contenedor-texto {
    padding: 1.25em;
    width: 100%;
    font-size: 1.25em;
    background: #fff;
    border-radius: 0.625em 0.625em 0 0;
    margin-bottom: 0;
    text-align: center;
}

.contenedor-tecnologias {
    padding: 0.625em;
    width: 100%;
    font-size: 0.9375em;
    background: #fff;
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    text-align: center;
}

.contenedor-footer {
    grid-template-columns: auto 1fr 1fr 1fr;
    position: relative;
    bottom: 0;
    height: 3.75em;
    margin-top: 2.5em;
    text-align: center;
    font-size: 0.75em;
    font-family: 'Lato';
}

.lista .persona {
    background: #fff;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    align-items: top;
    padding: 1.25em;
    border-radius: 0.625em;
    margin-bottom: 1.25em;
    cursor: move;
}


/* ? Clases para los estilos en los diferentes estados del drag and drop */

.lista .persona.seleccionado {
    transform: scale(1.02) rotate(-1deg);
    box-shadow: 0em 0em 1.25em rgba(206, 220, 241, 0.16);
    background-color: rgb(176, 188, 241);
    color: #fff;
}

.lista .persona.drag {
    background-color: transparent;
    opacity: 0;
}


/* ? ------- */

.lista .label {
    font-weight: 600;
    margin-bottom: 0.3125em;
    color: #5173CF;
    font-weight: bold;
}

.lista .dato {
    font-weight: bold;
    font-size: 1.25em;
}

.lista .dato {
    font-weight: bold;
    font-size: 0.9375em;
}

.lista .persona img {
    width: 4.375em;
    border-radius: 100%;
    text-align: center;
}

img.profile-photo {
    width: 15.625em;
    border-radius: 100%;
    align-items: center;
}

img.tech-photo {
    width: 10.625em;
    border-radius: 100%;
    align-items: center;
}

.foto {
    text-align: center;
    margin: 1.25em;
    align-items: center;
    margin-right: 1.25em;
}

.contenedor-texto .profesion {
    color: #5173CF;
    font-weight: bold;
    font-style: normal;
}

.persona {
    margin: 0.3125em;
}

.frontend {
    font-weight: bold;
    color: #5173CF;
}


/* estilos boton ir arriba */

.ir-arriba {
    display: none;
    padding: 20px;
    background-color: #5173CF;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 10px 15px;
    text-decoration: none;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-twitter {
    background-color: #00acee;
}

.social ul li .icon-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 10% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social ul li .icon-github {
    background-color: #913399;
}

.social ul li .icon-whatsapp {
    background-color: #00bb2d;
}

.social ul li .icon-linkedin {
    background-color: #0e76a8;
}

.social ul li .icon-envelope {
    background-color: #d44638;
}

.social ul li a:hover {
    padding: 10px 30px;
    transition: 0.2s;
    background-color: black;
    color: whitesmoke;
}